[submodule "frontend"]
	path = frontend
	url = git@github.com:BlueSky-Digital-Labs/react-js-django-monorepo-starter-frontend.git
	branch = main
[submodule "backend"]
	path = backend
	url = git@github.com:BlueSky-Digital-Labs/react-js-django-monorepo-starter-backend.git
	branch = main
