[submodule "frontend"]
	path = frontend
	url = git@github.com:BlueSky-Digital-Labs/next-js-django-monorepo-starter-frontend.git
[submodule "backend"]
	path = backend
	url = git@github.com:BlueSky-Digital-Labs/next-js-django-monorepo-starter-backend.git
