[submodule "frontend"]
	path = frontend
	url = https://github.com/Samiullah324/react-js-django-monorepo-starter-frontend.git
	branch = main
[submodule "backend"]
	path = backend
	url = https://github.com/Samiullah324/react-js-django-monorepo-starter-backend.git
	branch = main
